//Colors
$color-primary: rgba(22,171,227,1);
$color-secondary: rgba(23,97,172,1);
$color-tertiary: rgba(8,228,181,1);
$color-tertiary-2: rgb(7, 146, 116);
$color-alt: rgb(241, 12, 127);
$color-alt-2: rgb(203, 12, 241);
$color-alt-3: rgb(122, 7, 145);
$color-grey: #fdfdfd;
$color-grey-dark: #dddddd;
$color-white: #ffffff;
$color-black: #000000;