.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    text-align: center;
    color: $color-grey;
    position: relative;

    @include respond(phone) {
        padding: 2rem 3rem;
        height: 60vh;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background: linear-gradient(to bottom, rgba(22, 171, 227, 1), rgba(23, 97, 172, .85), rgba(8, 228, 181, .35)), url(../../img/weather.png);
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0 0 50% 50%;
        transform: scale(1.5);

        @include respond(phone) {
            transform: scale(2.5);
        }
    }

    &__desc {
        font-size: 1.5rem;
        margin-bottom: 4rem;
        text-shadow: 0 .2rem .65rem rgb(56, 56, 56);
    }
}